@font-face {
  font-family: 'MyFont';
  src: url('@/assets/fonts/HoonSaemaulundongR.ttf') format('truetype');
}
body {
  font-family: 'MyFont', sans-serif;
}
.outer {
  background-color: rgb(248, 244, 254);
}
/* Options 컴포넌트 내부 라우터 제목 아래 구분선이 될 hr태그에 적용시킬 css */
.title-underline {
  height: 1px;
  border: none;
  border-top: 2px solid;
  color: rgb(96, 52, 132);
}
.options-main-container {
  border: 3px solid #bfa5d4;
  border-radius: 30px 30px 0 0;
  padding: 30px 30px 0px;
  height: 90%;
  min-height: 340px;
}
.text-select:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: bold;
  cursor: pointer;
}
.cursor-defalut {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
